<div class="row m-t-3">
    <div class="col-md-12">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure consectetur sint sed optio rem cupiditate facilis corrupti. Eum fugit voluptatum itaque! In nostrum et harum dolores ad totam consequuntur quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum in reiciendis minima harum. Culpa iure repellat, officiis magnam laborum similique autem doloremque eveniet facere numquam, recusandae cumque voluptas eius?</p>
    </div>
</div>